<!-- AGGREGATE CARD -->
<div *ngIf="ready">

  <div class="col s3">
    <div class="card small">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Account: {{ yodleeAccount_1.accountNumber }}<i class="material-icons right">more_vert</i>
        </span>
        <p>Account Type: {{ yodleeAccount_1.container }}</p>
        <p>Account Status: {{ yodleeAccount_1.accountStatus }}</p>
        <p>Available Cash: $ {{ yodleeAccount_1.availableCash.amount }} </p>
        <p>Available Credit: $ {{ yodleeAccount_1.availableCredit.amount }} </p>
        <p>Total Cash Limit: $ {{ yodleeAccount_1.totalCashLimit.amount }} </p>
        <p>Total Credit Line: $ {{ yodleeAccount_1.totalCreditLine.amount }} </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Some more info!<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="card small">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Account: {{ yodleeAccount_2.accountNumber }}<i class="material-icons right">more_vert</i>
        </span>
        <p>Account Type: {{ yodleeAccount_2.container }}</p>
        <p>Account Status: {{ yodleeAccount_2.accountStatus }}</p>
        <p>Balance: $ {{ yodleeAccount_2.balance.amount }} </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Some more info!<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="card small">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Account: {{ yodleeAccount_3.accountNumber }}<i class="material-icons right">more_vert</i>
        </span>
        <p>Account Type: {{ yodleeAccount_3.container }}</p>
        <p>Account Status: {{ yodleeAccount_3.accountStatus }}</p>
        <p>Available Cash: $ {{ yodleeAccount_3.availableCash.amount }} </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Some more info!<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

</div>
