<!-- LOGIN TO YODLEE -->

<div class="card small sticky-action" *ngIf="!linked">

  <div class="card-content">

    <div align="center">
      <i class="small material-icons">vpn_keyy</i>
    </div>

    <form class="col s12" #loginForm="ngForm">

      <div class="row">
        <div class="input-field col s12">
          <input id="loginName" type="text" required name="loginName"
                 [(ngModel)]="userProfile.loginName">
          <label for="loginName">Login Id</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" required name="password"
                 [(ngModel)]="userProfile.password">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row" align="center">
        <button align="center" type="button" class="btn waves-effect waves-light"
                (click)="loginWithYodlee()"
                [disabled]="!loginForm.form.valid">Submit</button>
      </div>

    </form>

  </div>
</div>

<!-- DISPLAY YODLEE ACCOUNT DETAILS -->

<div class="card small sticky-action" *ngIf="linked">

  <div class="card-content" *ngIf="responseReceived">
        <span class="card-title activator grey-text text-darken-4">Customer Net Worth<i class="material-icons right">more_vert</i>
        </span>
    <p>Assets: $ {{ netWorth.asset.amount }}</p>
    <p>Liabilities: $ {{ netWorth.liability.amount }}</p>
    <p>Net Worth $ {{ netWorth.networth.amount }} </p>
    <p>Till Date: {{ netWorth.date }} </p>
  </div>
  <div class="card-content" *ngIf="!responseReceived">
     <span class="card-title activator grey-text text-darken-4">Loading...</span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Some more info!<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>

</div>
